<ion-view title="ARMS" ng-init="listTutorial()">

	<ion-nav-buttons side="secondary">
    <button class="button button-icon ion-ios-plus-empty" ui-sref="NEW({newSection: 'arms'})">
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  	<ion-list can-swipe="true">

  		<!-- LIST ITEMS -->
		  <ion-item collection-repeat="exercise in armExercises" class="exerciseListItem" item-height="getItemHeight()" ng-click="setDone(exercise)">
        <ion-option-button class="button-calm" ng-click="editExerciseDetails()" ui-sref="EDIT({exerciseName: armExercises[$index].name.toUpperCase(), exerciseWeight: armExercises[$index].weight, exerciseUnits: armExercises[$index].units.toUpperCase(), exerciseSets: armExercises[$index].sets, exerciseReps: armExercises[$index].reps, pushIndex: $index, editSection: 'arms'})">
          <div class="swipeButton"><i class="icon ion-edit"></i></div>
        </ion-option-button>
	      <ion-option-button class="button-assertive" ng-click="armExercises.splice($index, 1); saveData()">
	      	<div class="swipeButton"><i class="icon ion-trash-a"></i></div>
		    </ion-option-button>
		    <div class="exerciseTitle">
		    	<i class="{{iconSelector(exercise)}}"></i>&nbsp;&nbsp;
		    	<span class="name" ng-class="{done: exercise.done}">
            {{exercise.name.toUpperCase()}}
          </span>
		    </div>
		    <div class="exerciseDetails">
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{displayWeight(exercise)}}
			    <br>
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{displaySetsAndReps(exercise)}}
		  	</div>
		  </ion-item>

		</ion-list>
  </ion-content>
</ion-view>