<div class="modal">
  <ion-header-bar class="bar-dark" align-title="center">
    <h1 class="title">NEW EXERCISE</h1>
    <div class="buttons">
    </div>
    <div class="buttons">
    	<button class="button button-icon ion-ios-arrow-back" ng-click="closeNewExercise()"></button>
    </div>
  </ion-header-bar>
  <ion-view>
	  <ion-content class="has-header" has-bouncing="false">
		  
	  	<!-- FORM -->
		  <form ng-submit="createExercise(exercise)">
		  	<div class="list">

		  		<!-- NAME -->
				  <label class="item item-input item-stacked-label">
				    <span class="input-label">NAME</span>
				    <input type="text" placeholder="BICEP CURLS" ng-model="exercise.title">
				  </label>

				  <!-- WEIGHT -->
					<label class="item item-input item-select">
				    <div class="input-label">
				     	WEIGHT
				    </div>
				    <select ng-model="exercise.weight">
				      <option ng-repeat="i in weightRange">{{i}}</option>
				    </select>
				  </label>

				  <!-- UNITS -->
				  <label class="item item-input item-stacked-label">
						<span class="bold">UNITS</span>
				  </label>
					<ion-radio ng-repeat="unit in units" ng-value="unit.value" ng-model="data.value">
						{{unit.value.toUpperCase()}}
					</ion-radio>

					<!-- REPS -->
					<label class="item item-input item-select">
				    <div class="input-label">
				     	REPS
				    </div>
				    <select ng-model="exercise.reps">
				      <option ng-repeat="j in repsRange">{{j}}</option>
				    </select>
				  </label>

				  <!-- SETS -->
					<label class="item item-input item-select">
				    <div class="input-label">
				     	SETS
				    </div>
				    <select ng-model="exercise.sets">
				      <option ng-repeat="k in setsRange">{{k}}</option>
				    </select>
				  </label>
				</div>

				<!-- SUBMIT BUTTON -->
				<button type="submit" class="button button-full button-assertive" ng-click="exercise.units = data.value">ADD EXERCISE</button>
			</form>
	  </ion-content>
	</ion-view>
</div>