.button.button-full.exercises {
	height: 15.07vh;
	width: 100%;
	margin: 0;
}

.exerciseTitle, .input-label, .bold {
	font-weight: bold;
}

.exerciseDetails {
	color: #999999;
}

.title.padded {
	background-color: red;
}