.button.button-full.exercises {
  width: 100%;
  margin: 0;
}

.exerciseTitle, .input-label, .bold {
  font-weight: bold;
}

.exerciseDetails {
  color: #999999;
}

.buttons.submit {
  margin: 20px;
}

.done {
  color: #999999;
  text-decoration: line-through;
}

.setCounter {
  position: relative;
  left: 50%;
  margin-left: -25vw;
  width: 50vw;
  height: 50vw;
  background-color: #e74c3c;
  border-radius: 50%;
  font-size: 8em;
  color: #ffffff;
}

.setCounter p {
  color: black;
}